
iframe {
  width: 600px;
  height: 400px;
  border: ridge;
}

.rounded {
  border-radius: 15px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}